@{
    ViewData["Title"] = "Home Page";
}


<style>
    body {
        background-image: linear-gradient(to bottom, #ffffff, #89cbf7fa);
        font-family: Arial, Verdana, Helvetica, sans-serif;
    }
    h1{
        text-align: center;
    }
</style>

<body>

    <h1>Bem vindo</h1>

    <div>

        <p>A ideia principal, é um site onde voce consiga cadastrar fornecedores e seus produtos, assim podendo editar, 
        excluir e ver os detalhes do cadastro.</p>
    </div>
</body>
